body {
  font-family: 'Pretendard';
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 9px 16px 6px;
  border-bottom: 0.5px solid var(--light-gray-color);
}

.nav .back-btn {
  padding: 0;
  background: transparent;
  height: 32px;
}

.nav .back-btn img,
.nav .menu-btn img {
  width: 22px;
}

.nav .menu-btn {
  padding: 0;
  background: transparent;
}

.chatlist-container {
  position: relative;
  width: 358px;
  height: 42px;
  display: flex;
  margin: 26px auto;
}

.chatlist-container .profile-img {
  margin-right: 12px;
}

.chatlist-container .live-img {
  width: 12px;
  height: 12px;
  position: absolute;
}

.info-sec .chatroom-link {
  text-decoration: none;
  color: black;
}

.chatroom-link .nickname-txt {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 4px;
  line-height: 16.71px;
}

.chatroom-link .chat-txt {
  font-size: 12px;
  font-weight: 400;
  line-height: 14.32px;
  color: var(--gray-text-color);
}

.chatlist-container .date-txt {
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0em;
  position: absolute;
  right: -6px;
  bottom: 7px;
  color: var(--light-gray-color);
}

.tab-menu #chat-link,
.tab-menu #chat-link:focus {
  color: var(--enabled-color);
}

.tab-menu #chat-link::before,
.tab-menu #chat-link:focus::before {
  content: '';
  display: block;
  background-image: url(../assets/images/icon/icon-sprites_purple.png);
  background-repeat: no-repeat;
  background-position: -5px -39px;
  background-size: 68px 68px;
  width: 24px;
  height: 24px;
  margin-bottom: 7px;
}
