@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

* {
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR',
    'Malgun Gothic', sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* 푸터 탭 메뉴 */
.home-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #e0e0e0;
}

.home-footer .tab-menu {
  display: flex;
  justify-content: space-between;
  padding: 18px 34px;
}

.home-footer .tab-menu a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  font-weight: 400;
  text-align: center;
  color: #767676;
}

.home-footer .tab-menu #home-link::before {
  content: '';
  display: block;
  background-image: url(images/tab-menu-sprites.png);
  background-repeat: no-repeat;
  background-position: -5px -39px;
  background-size: 68px 68px;
  width: 24px;
  height: 24px;
  margin-bottom: 7px;
}

.home-footer .tab-menu #home-link:focus::before {
  content: '';
  display: block;
  background-image: url(images/tab-menu-sprites-color.png);
  background-repeat: no-repeat;
  background-position: -5px -39px;
  background-size: 68px 68px;
  width: 24px;
  height: 24px;
  margin-bottom: 7px;
}

.home-footer .tab-menu #chat-link::before {
  content: '';
  display: block;
  background-image: url(images/tab-menu-sprites.png);
  background-repeat: no-repeat;
  background-position: -39px -5px;
  background-size: 68px 68px;
  width: 24px;
  height: 24px;
  margin-bottom: 7px;
}

.home-footer .tab-menu #chat-link:focus::before {
  content: '';
  display: block;
  background-image: url(images/tab-menu-sprites-color.png);
  background-repeat: no-repeat;
  background-position: -39px -5px;
  background-size: 68px 68px;
  width: 24px;
  height: 24px;
  margin-bottom: 7px;
}

.home-footer .tab-menu #post-link::before {
  content: '';
  display: block;
  background-image: url(images/tab-menu-sprites.png);
  background-repeat: no-repeat;
  background-position: -5px -5px;
  background-size: 68px 68px;
  width: 24px;
  height: 24px;
  margin-bottom: 7px;
}

.home-footer .tab-menu #post-link:focus::before {
  content: '';
  display: block;
  background-image: url(images/tab-menu-sprites-color.png);
  background-repeat: no-repeat;
  background-position: -5px -5px;
  background-size: 68px 68px;
  width: 24px;
  height: 24px;
  margin-bottom: 7px;
}

.home-footer .tab-menu #profile-link::before {
  content: '';
  display: block;
  background-image: url(images/tab-menu-sprites.png);
  background-repeat: no-repeat;
  background-position: -39px -39px;
  background-size: 68px 68px;
  width: 24px;
  height: 24px;
  margin-bottom: 7px;
}

.home-footer .tab-menu #profile-link:focus::before {
  content: '';
  display: block;
  background-image: url(images/tab-menu-sprites-color.png);
  background-repeat: no-repeat;
  background-position: -39px -39px;
  background-size: 68px 68px;
  width: 24px;
  height: 24px;
  margin-bottom: 7px;
}
